In [1]:
import pandas as pd
import numpy as np

# Changing Options with Attributes and Dot Syntax

In [4]:
# .randit() generates an array of 1000 rows by 50 columns of random integers between 0 and 100
data = np.random.randint(0, 100, [1000, 50])

# Convert array to dataframe and store in a variable
df = pd.DataFrame(data)
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,23,16,17,33,36,66,27,74,75,45,...,21,83,99,14,38,16,60,27,73,96
998,33,33,92,73,42,9,29,37,50,57,...,46,26,99,81,30,99,59,71,74,84
999,95,47,1,94,34,8,12,50,26,34,...,95,70,32,73,11,24,22,54,14,22

In [5]:
# The number of rows before pandas will truncate the dataframe
pd.options.display.max_rows

60

In [6]:
# We can set the value ourselves
pd.options.display.max_rows = 20

In [7]:
# Many other attributes can be set
pd.options.display.max_columns

20

# Changing pandas Options with Methods

In [8]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,97,94,72,94,69,26,85,22,55,39,...,38,94,63,71,75,30,64,13,39,0
998,35,92,76,38,17,56,63,97,61,84,...,97,23,83,80,93,80,73,5,48,62
999,34,87,95,26,95,34,8,26,68,3,...,95,77,36,55,40,1,34,9,9,57

In [9]:
pd.get_option("max_rows")

20

In [10]:
pd.get_option("max_columns")

20

In [11]:
pd.set_option("max_rows", 16)
# pd.set_option("max_columns", 16)

In [15]:
# These methods and atributes can be used interchangeably, also they are pick up on errors such as below
pd.set_option("Max_roWs", 10)
pd.get_option("max_rows")

10

In [16]:
# Return to default settings
pd.reset_option("max_rows")
pd.get_option("max_rows")

60

In [19]:
pd.reset_option("max_columns")
pd.get_option("max_columns")

20

In [20]:
# This loads documentation
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

# The precision Option

In [21]:
# randn() random floating numbers between between -2 and 2, arguments are for rows and columns
pd.DataFrame(np.random.randn(5, 5))

          0         1         2         3         4
0 -1.269264  0.630093  0.921517 -1.362956  0.475110
1  0.684087  0.229728  0.076538 -0.042305 -0.807183
2 -0.440574 -0.131692 -1.035145  1.553832 -0.883073
3 -0.356075 -0.175336  0.643778 -0.142029  1.827974
4  0.694226  0.811115 -0.254868 -1.407034 -1.302432

In [22]:
# Number of digits after decimal place that will be present
pd.get_option("precision")

6

In [24]:
# This can be changed and used for a temporary view by reverting to defaults shortly after
pd.set_option("precision", 2)
pd.get_option("precision")

2

In [26]:
pd.reset_option("precision")
pd.get_option("precision")

6